<h1>New Template</h1>

<%= form_for(@template) do |f| %>
  <%= render partial: 'shared/form_errors', locals: {record: @template} %>

  <div class="form-group">
    <%= f.label :name %>
    <%= f.text_field :name, class: 'form-control' %>
  </div>
  <%= f.submit class: 'btn btn-primary' %>
<% end %>

<br>
<p>
  <%= link_to 'Back', :templates %>
</p>
