<h1>Template Schemas</h1>

<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Created by</th>
      <th>Created at</th>
      <th>Updated at</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @template_schemas.each do |template_schema| %>
      <tr>
        <td><%= template_schema.name %></td>
        <td><%= template_schema.created_by %></td>
        <td><%= template_schema.created_at.to_formatted_s %></td>
        <td><%= template_schema.updated_at.to_formatted_s %></td>
        <td><%= link_to 'Show', template_schema %></td>
        <% if !template_schema.immutable? %>
          <td><%= link_to 'Edit', [:edit, template_schema] %></td>
          <td><%= link_to 'Destroy', template_schema, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% else %>
          <td><%= link_to 'Clone', clone_template_schema_path(template_schema) %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<p>
  <%= link_to 'Create a template schema', [:new, :template_schema], class: 'btn btn-primary' %>
</p>
